<br><br>
<br><br>
<section class="contact section">
    <h2 class="section__title">Contactame</h2>
    <span class="section__subtitle">Ponte en contacto</span>
    <br><br>
    <div class="contact__container containerPersonal grid">
        <div class="contact__information">
            <i class="fas fa-phone contact__icon"></i>
            <div>
                <h3 class="contact__title">LLamame</h3>
                <span class="contact__subtitle">+593 097 919 9469</span>
            </div>

        </div>

        <div class="contact__information">
            <i class="fas fa-envelope contact__icon"></i>
            <div>
                <h3 class="contact__title">Correo</h3>
                <span class="contact__subtitle">maiguarizocarlos@gmail.com</span>
            </div>

        </div>
        <!--
        <div class="contact__information">
            <i class="fas fa-map-marker-alt contact__icon"></i>
            <div>
                <h3 class="contact__title">Ubicacion</h3>
                <span class="contact__subtitle">Ecuador-Saquisilí</span>
            </div>
        </div>-->

        <a [href]="'https://www.facebook.com/rizo.carloscj'" target="_blank">
        <div class="contact__information">
            <i class="fab fa-facebook-square contact__icon"></i>
            <div>
                <h3 class="contact__title">Facebook</h3>
                <span class="contact__subtitle">Juan C Rizo</span>
                
            </div>
        </div>
        </a>

        <a [href]="'https://www.instagram.com/rizo_juanc/'" target="_blank">
        <div class="contact__information">
            <i class="fab fa-instagram contact__icon"></i>
            <div>
                <h3 class="contact__title">Instagram</h3>
                <span class="contact__subtitle">rizo_juanc</span>
                
            </div>
        </div>
        </a>
    </div>
</section>
<br><br>
<br><br>
<br><br>