<br>
<br>
<section class="home section">
    <div class="home__container containerPersonal grid">
        <div class="home__content">
            
            <div class="home__data">
                <h1 class="home__title">
                    Hola, soy Juan
                </h1>
                <h3 class="home__subtitle">Desarrollador Full Stack</h3>
                <p class="home__description">Desarrollador de software apasionado y experto en creación y mejora de soluciones innovadoras. Hábil en diseño, desarrollo y mantenimiento de aplicaciones web con énfasis en experiencia del usuario. Especializado en Java, Spring Boot y Angular. Capaz de colaborar de manera efectiva en equipos multidisciplinarios, aplicando metodologías ágiles para lograr resultados de alta calidad.</p>
                <a style="margin-right: 10px;" href="#Contacto" class="button button--flex"><i class="fas fa-comments button__icon"></i> Contactame</a>
                <a download="" href="assets/pdf/CV_Juan_Carlos_Maigua_Rizo.pdf" class="button button--flex">
                    Descargar CV <i class="fas fa-download"></i>
                </a>
            </div>
        </div>

    </div>
</section>
<br>
<br>
<br>